/* mobile 480px  / design 460px  */

@media screen and (max-width:480px) { 
  #headBox { 
    position: relative;
    height:140px; padding:16px 10px 34px; box-sizing: border-box;  }
  #unbBox { 
    position: absolute; top:16px; left:10px;
    margin-bottom:30px;
    width:auto; height:auto; }
  #headBox > h1 { 
    float: left; margin-top:35px;
    width:126px; height:68px; 
    background-image:url(../../../img/mobile_logo.png); 
  }

  /* #unbBox영역 */
  #unbBox > ul { width:100%; height:auto; }
  #unbBox li { float: left; width:70px; height:auto; border-left:1px solid #ddd; }
  
  /* gnbBox영역 */
  #gnbBox_wrap { 
    float: right; margin-top:0;
    width:50px; height:50px; }
  #gnbBox_wrap > .gnb_open_btn { 
    width: 100%; height: 100%; 
    font-size:2rem; color:#333; }
  .gnb_open_btn > button { display:block; width: 100%; height: 100%; }
  .gnb_open_btn i { text-align:center; font-size:2rem; color:#005629; }

  /* gnbBox를 클릭했을 때 켜지는 메뉴 */
   .gnbBox { 
    position: fixed; top:0; right:-100%; z-index:900;
    box-sizing: border-box;
    width:80%; height:auto; background-color: #c54d2c;
    transition:all 500ms linear;}
   .gnbBox .gnbBox_menu { width: 100%; height:auto; }
   .gnbBox.action { right:0;}
   .gnb_close_btn { 
     position: absolute; top:0; left:-50px; z-index:900;
     width:50px; height:50px; }
   .gnb_close_btn > button { display:block; width: 100%; height: 100%; }
   .gnb_close_btn i { text-align:center; font-size:32px; color:#333; }
   .gnbBox li { 
     float: left; width: 100%; height:auto; }
   .gnbBox dl { 
     width: 100%; height:auto; background-color: #fff; }
   .gnbBox dt { 
     width: 100%; height:50px; 
     border-top:1px solid #9d9d9d;
     border-bottom:1px solid #9d9d9d;
     font-size:15px; font-family:'NanumGothic'; line-height:50px;
     text-indent:30px; }
   .gnbBox dt.action i { color:#005629;}
   .gnbBox dd { 
     display:none;
     width: 100%; height:auto; 
     padding:5px 0 5px;
     font-size:12px; font-family:'Malgun Gothic'; line-height:25px;
     text-indent:30px; }

   .gnbBox dd > a { 
     display:block;
     width:100%; height:25px; line-height:25px; }

   .gnbBox dt > a { display:block; width: 100%; height: 100%; }

   .gnbBox dt i { 
     float: right; line-height:50px; margin-right:40px; font-size:16px; }


    /* 
    **form 영역**
    1.form내부에 들어가는 input,label..inline-block요소(사이즈를 가질 수 있지만 옆으로 늘어나는요소)
    2.form내부에 p,hn,dl,ol,ul...모두 들어갈 수 있다.
    */
   .gnbBox form { width:100%; height:auto; min-height:40px; }

   .gnbBox fieldset { 
     height:auto; line-height:40px; 
     padding:2.173913vw; box-sizing: border-box;
     text-align: center;
      }

    .gnbBox fieldset > input { width:80%; max-width:180px; height:30px; border-radius:5px; }

    .gnbBox fieldset button { 
     width:11.956521vw; max-width:55px; height:30px; 
     border-radius:5px; border:1px solid #fff;
     color:#fff; font-family:'NanumGothic';
     font-size:12px; box-sizing: border-box;
     }

    

   
  

  


}