/* Tablet 1024px  / design 940px  */

@media screen and (min-width:481px) and (max-width:1024px) {

.popup { 
  position: absolute; 
  z-index:1500; top:150px; left:50%; transform: translateX(-50%);
  width:auto; width:330px; height:240px;
  padding:15px; box-sizing: border-box;
  border:3px solid #005629; 
  background-color: #fff; }  
    
.popup p { font-size:14px; }
.popup p:nth-child(1) { line-height:20px; margin-bottom:15px; }

.popup .strong { font-weight:600; font-family:'Malgun Gothic'; color:#005629}

.popup .popup_close { 
    position: absolute; left:50%; bottom:15px; transform: translateX(-50%); 
    width:45px; height:30px; 
    border:1px solid #333; background-color: #fff; }

.popup_close button { width: 100%; height: 100%; }
.popup_close span { line-height:30px; }

#headBox { 
  position: relative;
  height:210px; padding:20px 4.4680vw 0; box-sizing: border-box; }
#unbBox {
  position: absolute; top:20px; left:30px;
  width:261px; height:20px; }
#headBox > h1 { 
  float: left; 
  border-radius:100px; margin-top:70px;
  width:190px; height:100px; 
  background-image: url(../../../img/logo.png);
 }

/* #unbBox영역 */
#unbBox > ul { width:100%; height:auto; }
#unbBox li { float: left; width:32%; height:auto; border-left:1px solid #ddd; }
#unbBox a { line-height:20px; }

/* gnbBox영역 */
 #gnbBox_wrap { 
  float: right; margin-top:0;
  width:50px; height:50px; }
#gnbBox_wrap > .gnb_open_btn { 
  width: 100%; height: 100%; 
  font-size:32px; color:#333; }
.gnb_open_btn > button { display:block; width: 100%; height: 100%; }
.gnb_open_btn i { text-align:center; font-size:48px; color:#005629; }

/* gnbBox를 클릭했을 때 켜지는 메뉴 */
.gnbBox {
  position: fixed; top:0; right:-100%; z-index:900;
  box-sizing: border-box; width:80%; height:auto; 
  background-color: #c54d2c;
  transition:all 500ms linear; }
 .gnbBox .gnbBox_menu { width: 100%; height:auto; }
 .gnbBox.action { right:0;}
 .gnb_close_btn { 
   position: absolute; top:0; left:-50px; z-index:900;
   width:50px; height:50px; }
 .gnb_close_btn > button { display:block; width: 100%; height: 100%; }
 .gnb_close_btn i, 
 .gnb_close_btn svg 
 { text-align:center; font-size:32px; color:#333 }

 .gnbBox li { 
   float: left; width: 100%; height:auto; }
 .gnbBox dl { 
   width: 100%; height:auto; background-color: #fff; }
 .gnbBox dt { 
   width: 100%; height:50px; 
   border-top:1px solid #9d9d9d;
   border-bottom:1px solid #9d9d9d;
   padding-right:31.914893vw /*300px*/;
   font-size:15px; font-family:'NanumGothic'; line-height:50px;
   text-indent:80px; }
 .gnbBox dt.action i { color:#005629;}
 .gnbBox dd { 
   display: none;
   width: 100%; height:auto; 
   padding:5px 0 5px;
   font-size:12px; font-family:'Malgun Gothic'; line-height:25px;
   text-indent:80px; }

 .gnbBox dd > a { 
   display:block;
   width:100%; height:25px; line-height:25px; }

 .gnbBox dt i { 
   float: right; line-height:50px; margin-right:100px; font-size:24px; }

 .gnbBox dt > a { display:block; width: 100%; height: 100%; }

   /* 
    **form 영역**
    1.form내부에 들어가는 input,label..inline-block요소(사이즈를 가질 수 있지만 옆으로 늘어나는요소)
    2.form내부에 p,hn,dl,ol,ul...모두 들어갈 수 있다.
    */
    .gnbBox form { width:100%; height:auto; min-height:40px; }

    .gnbBox fieldset { 
      height:auto; line-height:40px; 
      padding:2.173913vw; box-sizing: border-box;
      text-align: center; }
 
    .gnbBox fieldset > input { width:80%; max-width:250px; height:30px; border-radius:5px; }
 
    .gnbBox fieldset button { 
      width:11.956521vw; max-width:60px; height:30px; 
      border-radius:5px; border:1px solid #fff;
      color:#fff; font-family:'NanumGothic';
      font-size:12px; box-sizing: border-box;
      }
 


}