/* mobile 480px  / design 460px  */

@media screen and (max-width:480px) {
    #searchBox { height:290px; padding-top:56px; box-sizing: border-box; }
    #searchBox > p {  width:250px; height:auto; margin:auto; font-size:17px;  }

    .store_search { 
        width:53.260869vw; max-width:210px; height:65px; 
        margin:auto; border-radius:40px; 
        margin-top:8.695652vw /*40px*/;
        background-color:var(--color-white); }
    .store_search a { padding:0 6.521739vw /*0 30px*/; box-sizing: border-box;
        line-height:65px; } 
    .store_search span { font-size:17px; }
}