/* laptop 1440px / design 1420px  */

@media screen and (min-width:1025px) {
    #searchBox { width:1420px; height:400px; margin:auto; padding-top:80px; }
    #searchBox > p { font-size:30px; }

    .store_search { 
        width:28.169014vw; max-width:400px; height:110px; 
        margin:auto; margin-top:70px;
        border-radius:50px; background-color:var(--color-white); }
    .store_search > a { line-height:110px; }
    .store_search span { font-size:30px; }


}