/* mobile 30rem  / design 28.75rem  */

@media screen and (max-width:30rem) {
    #searchBox { position: relative; height:18.125rem; padding-top:3.125rem; box-sizing: border-box; }
    #searchBox > p {  width:15.625rem; height:auto; margin:auto; margin-bottom:3.125rem; font-size:1.0625rem; text-shadow:2px 2px 3px rgba(0, 0, 0, 0.7);   }

    .store_search { 
        width:53.260869vw; max-width:13.125rem; height:4.0625rem; 
        margin:auto; border-radius:2.5rem; 
        margin-top:8.695652vw /*2.5rem*/;
        background-color:var(--color-white); }

    .store_search a { 
        padding:0 6.521739vw /*0 1.875rem*/; box-sizing: border-box;
        line-height:4.0625rem; } 

    .store_search span { font-size:1.0625rem; }

    .store_search svg {margin-left:0.625rem;}

    /* 모달창 */
    .search_area { 
        position: absolute; bottom:0.625rem; left:50%; z-index: 1000;
        transform: translate(-50%);
        width:76.0869vw; max-width:21.875rem; height:25rem;
        border:0.125rem solid var(--color-point);
        border-bottom-left-radius:1.25rem; border-bottom-right-radius:1.25rem; 
        background-color: var(--color-white); }

    .search_area  > .search { 
        width: 100%; height:18.75rem; 
        background-color: var(--color-white); 
        border-bottom:0.0625rem solid var(--color-dark_gray); }

    .search_area h3 { 
        font-size:1.25rem; text-align: center; 
        font-family:var(--font-malgun); padding:1.875rem 0 0.3125rem; box-sizing: border-box;}

    .search > p:nth-of-type(1) { 
        font-size:0.75rem; text-align: center; 
        margin-bottom:2.1739vw /*0.625rem*/;
        color:var(--color-main); }

    .close { position: absolute; top:0.3125rem; right:0.625rem;}

    .close svg { font-size:1.5rem; }

    .store_img { 
        position: absolute; left:1.25rem;
        width:43.4782vw; max-width:12.5rem; height:8.75rem; 
        background-image: url(../../../img/natuur_img.JPG);
        background-position: 50% 50%;
        background-repeat:no-repeat;
        background-size: contain; }

    .search > span:nth-of-type(1) { 
        position: absolute; right:1.25rem; top:13.125rem; font-size:0.75rem; }

    .search > span:nth-of-type(2) { 
        position: absolute; right:1.25rem; top:14.375rem; font-size:0.75rem; }

    .store_info { 
        position: absolute; right:1.875rem; top:16.25rem; font-size:0.75rem; }

    .store_info > a { 
        display:block; width: 100%; height: 100%;
        text-align: center; border:0.0625rem solid var(--color-main); 
        color:var(--color-point);
        padding:0.3125rem; border-radius:1.25rem; }

    #searchBox form { position: absolute; bottom:1.875rem; width:100%; height:auto; }

    #searchBox fieldset { width:auto; min-width:11.25rem; height: 100%; }

    .search_info p { 
        font-family:var(--font-malgun); 
        text-align: center; margin-bottom: 0.625rem;
        font-size:0.8125rem; }

    .input_wrap { width:72vw; max-width: 13.125rem; height:1.75rem; margin:auto; }
    
    .form_group { float: left; }

    .form_group > input { 
        width:10.3125rem; height:1.75rem; 
        border:0.0625rem solid var(--color-dark_gray);  }

    .search_btn { 
        float: right; width:2.25rem; height:1.75rem;
        box-sizing: border-box;
        border:0.0625rem solid var(--color-dark_gray); }

    #searchBox form button { 
        display:block; width: 100%; height: 100%; 
        font-size:0.6875rem;
        padding:0.25rem; box-sizing: border-box; }

    




}