/* Tablet 1024px  / design 940px  */

@media screen and (min-width:481px) and (max-width:1024px) {
    #searchBox { 
        position: relative;
        height:37.234042vw; max-height:350px; 
        padding-top:5.319148vw /*50px*/; box-sizing: border-box; }
    #searchBox > p { font-size:18px; }

    .store_search { 
        width:28.723404vw; max-width:270px; height:79px; margin:auto; 
        border-radius:40px; margin-top: 6.382978vw/*60px*/; 
        padding:0 2.659574vw /*0 25px*/; box-sizing: border-box; 
        background-color:var(--color-white); }
    .store_search > a { line-height:79px; }
    .store_search span { font-size:18px; } 

    /* 모달창 */
    .search_area { 
        position: absolute; bottom:10px; left:50%; z-index: 1000;
        transform: translate(-50%);
        width:70vw; max-width:450px; height:465px; 
        border:2px solid var(--color-point);
        border-bottom-left-radius:30px; border-bottom-right-radius:30px; 
        background-color: var(--color-white); }

    .search_area  > .search { 
        width: 100%; height:300px; 
        background-color: var(--color-white); 
        border-bottom:1px solid var(--color-dark_gray); }

    .search_area h3 { 
        font-size:25px; text-align: center; 
        font-family:var(--font-malgun); padding:30px 0 10px; box-sizing: border-box;}

    .search > p:nth-of-type(1) { 
        font-size:13px; text-align: center; 
        margin-bottom:2.1739vw /*10px*/;
        color:var(--color-main); }

    .close { position: absolute; top:5px; right:10px;}

    .close i { font-size:2rem; }

    .store_img { 
        position: absolute; left:20px;
        width:35vw; max-width:250px; height:200px; 
        background-image: url(../../../img/natuur_img.JPG);
        background-repeat:no-repeat;
        background-size: contain; }

    .search > span:nth-of-type(1) { 
        position: absolute; right:20px; top:210px; font-size:13px; }

    .search > span:nth-of-type(2) { 
        position: absolute; right:20px; top:230px; font-size:13px; }

    .store_info { 
        position: absolute; right:30px; top:260px; font-size:13px; }

    .store_info > a { 
        display:block; width: 100%; height: 100%;
        text-align: center; border:1px solid var(--color-main); 
        color:var(--color-point);
        padding:5px; border-radius:30px; }

    #searchBox form { position: absolute; bottom:60px; width:100%; height:auto; }

    #searchBox fieldset { width:auto; min-width:180px; height: 100%; }

    .search_info p { 
        font-family:var(--font-malgun); 
        margin-left:20px; margin-bottom: 20px;
        font-size:16px; }

    .input_wrap { width:60vw; max-width:300px; height:30px; margin-left:20px; }
    
    .form_group { float: left; }

    .form_group > input { 
        width:225px; height:32px; 
        border:1px solid var(--color-dark_gray);  }

    .search_btn { 
        float: right; width:60px;
        border:1px solid var(--color-dark_gray); }

    #searchBox form button { 
        display:block; width: 100%; height: 100%; 
        padding:6px; box-sizing: border-box; }

    

}