/* laptop 90rem / design 88.75rem  */

@media screen and (min-width:64.0625rem) {
    #menuBox { 
        max-width:1440px; height:75rem; margin:auto;
        padding:6.25rem 10px 0.704225vw  /*3.125rem 0.625rem*/; box-sizing: border-box;  }
    #menuBox > h2 { margin-bottom:4.375rem;}   
    .menu_area { width:1005px; margin:auto; height:880px;  }   
    .menu_area > ul { position: relative; width:100%; height:100%; min-width:300px; }
  
    /* menu_area */
    .menu_area li:nth-of-type(1) { 
        position: absolute; top:0; left:50%; 
        transform: translateX(-50%);
        width:390px; height:270px; }


    .menu_area li:nth-of-type(2) { 
        position: absolute; top:5.625rem; right:0; 
        width:270px; height:500px; }

    .menu_area li:nth-of-type(3) { 
        position: absolute; top:18.75rem; left:0; 
        width:270px; height:auto; }

    .menu_area li:nth-of-type(4) { 
        position: absolute; top:310px; left:50%; 
        transform: translateX(-50%); bottom:6.25rem;
        width:390px;  height:33.75rem; }

    .menu_area li { 
        padding:10px; padding-top:1.875rem; box-sizing: border-box;  }
    .menu_area dl { 
        float: left; width:220px; height:auto; 
        padding-left:0.9375rem; box-sizing: border-box; }
    .menu_area dt { font-size:1.25rem; margin-bottom:0.625rem; }
    .menu_area dd { 
      font-size:1.25rem; font-family:var(--font-malgun); margin-bottom:0.9375rem; }
    .menu_area dd:nth-of-type(2) { width:7.5rem; height:2.625rem; line-height:2.625rem; }
    
    
    /* menu_img */
    .menu_img { float: right; }
    .menu_area li:nth-of-type(1) .menu_img { width:150px; height:11.25rem; }
    .menu_area li:nth-of-type(2) .menu_img { width:240px; height:19.375rem; }
    .menu_area li:nth-of-type(3) .menu_img { width:180px; height:12.8125rem; }
    .menu_area li:nth-of-type(4) .menu_img { width:250px; height:20.625rem; }
  
  }