/* 공통 */
html,body { width:100%; height:auto; }
#wrap { width: 100%; height:auto; min-height:500px; }
.headBox_wrap, 
.eventBox_wrap, 
.menuBox_wrap, 
.searchBox_wrap, 
.snsBox_wrap, 
.footBox_wrap { 
    width:100%; height:auto; background-color:var(--color-white); 
    
 }

/* headBox===================== */
#headBox { 
    width:100%; height:auto; 
    background-color:var(--color-white);}

#headBox > h1 {
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:95%; }

#unbBox a { 
    display:block; width: 100%; height: 100%;
    font-size:13px; text-align:center; 
    font-family:var(--font-nanum); }

#unbBox li:first-child { border:0; }

.gnbBox { z-index:1000;}

.gnbBox dt > a { font-weight:bold; font-family:var(--font-malgun);}

.gnbBox dd > a { font-family:var(--font-malgun); }


/*introduceBox*/
.inner_bg_img {
    width:100%; height:62px; 
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../../img/bg_brand_img.jpg); }

.breadcrumb > li { float: left; margin-right:10px;}
.breadcrumb > li:nth-child(2) { margin-right:0px;}
.breadcrumb > li:nth-child(2):before { content:">"; width:10px; height:100%; margin-right:10px; }

.main_bg { 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../img/Introduce_main_img.jpg);}

.sub_title { text-align: center; margin-top:40px; margin-bottom:40px; } /* dt내 img로 들어간 이미지를 감싸는 태그에 중앙정렬 */  

.explanation p { font-size:13px; font-family:var(--font-malgun); text-align: center;}

.capitalize { text-transform: capitalize; color:var(--color-main);} /*단어 첫글자만 대문자*/


/* footBox */
#footBox { 
    width:100%; height:auto;
    background-color:#ededed; }

.family_site .family{ float: left;}
.family_site .search{ float: right; box-sizing: border-box;}

.search { border:1px solid #333; }

.search > a { 
    display:block; width: 100%; height: 100%; 
    font-size: 15px; text-align: center;  }
