/* sub_introduceBox.mobile.css */

@media screen and (max-width:30rem){
    #introduceBox { 
        position: relative;
        width:auto; max-width:28.75rem; height:auto; 
        padding:0.625rem; box-sizing: border-box; }
    
    #introduceBox > h3 { 
        margin-top:3.75rem; font-size:1.5625rem ; 
        font-family:var(--font-malgun); text-align: center; }

    #introduceBox .title { font-size:0.8125rem; margin-top:0.5rem; text-align: center; color:var(--color-main); }

    .inner_bg_img { height:6.25rem; background-image: url(../../../img/bg_brand_mobile_img.jpg); }

    .breadcrumb {
        position: absolute; top:0.625rem; right:0.625rem; margin-bottom:1.875rem;
        width:9.375rem; height:auto; 
        font-size:0.8125rem; font-family:var(--font-malgun); }   
   
    .title_list { 
        overflow: hidden;
        width:15.625rem; height:5rem; margin:auto; 
        border:0.0625rem solid var(--color-dark_gray); box-sizing: border-box;
        border-radius:1.25rem; margin-top:1.875rem; }

    .title_list > li {
         width:100%; height:2.5rem; 
         text-align: center; font-size: 0.75rem; line-height:2.5rem;}

    .title_list > li:first-child:after { 
        display:block; content:" ";
        width: 80%; height:0.0625rem; margin:auto;
        background-color: var(--color-gray); }

    /* tab공통 영역 */
    .tab_menu_01,
    .tab_menu_02 { 
        width:91.3043vw; max-width:26.25rem; height:auto; 
        margin:auto; margin-top:1.875rem; margin-bottom:3.125rem; }

    .tab_menu_01 > dl,
    .tab_menu_02 > dl { 
        width: 100%; height:auto; margin:auto; }

    /* tab_01 */
    .main_bg { width:16.25rem; height:18.875rem; margin:auto; }

    .story_brand { height:1.5625rem; }

    .story_brand img { width:14.625rem; height:1.5625rem; }

    /* tab_02 */
    .tab_menu_02 dt {
         width:100%; height:auto; 
         text-align: center; text-decoration: underline; 
         margin-bottom:1.25rem; font-size:0.8125rem; }

    .tab_menu_02 dd { 
        width:66.7391vw; max-width:19.1875rem; height:auto; max-height:30.0625rem; 
        margin:auto; }

    .tab_menu_02 img { width: 100%; height: 100%; }


} 