/* sub_introduceBox.table.css */

@media screen and (min-width:30.0625rem) and (max-width:64rem){
    #introduceBox { 
        position: relative; width:auto; max-width:60rem; height:auto;
        margin:auto; padding:1.25rem 2.625rem; box-sizing: border-box;   }

    #introduceBox h3 { 
        font-size:1.875rem; text-align: center; font-family:var(--font-malgun);
        margin:5rem 0 0.625rem; }  

    #introduceBox .title { 
        font-size: 1rem; text-align: center; font-family:var(--font-malgun);
        margin-bottom:1.875rem; color:var(--color-main); }

    .inner_bg_img { height: 5.5rem; background-image: url(../../../img/bg_brand_pc_img.jpg); }


    .breadcrumb { 
        position: absolute; top:1.875rem; right:2.625rem; font-size:0.8125rem;
        width:auto; height:auto; }

    .title_list { 
        overflow: hidden;
        width:100%; max-width:36.6875rem; height:2.5rem; margin:auto; 
        margin-bottom: 1.875rem; box-sizing: border-box;
        border:0.0625rem solid var(--color-dark_gray); border-radius:1.25rem; }

    .title_list > li { 
        float: left; 
        width:50%; height:100%; 
        text-align: center; line-height:2.5rem;
        font-size:0.8125rem; font-family:var(--font-malgun);}

    /* tab공통 영역 */
    .tab_menu_01,
    .tab_menu_02 { 
        width:100%; height:auto; 
        margin:auto; margin-top:3.125rem; margin-bottom:3.125rem; }    

    .tab_menu_01 > dl, 
    .tab_menu_02 > dl  { 
        width: 100%; height:auto; margin:auto; }

    /* tab_01 */    
    .main_bg {  width:53.1914vw; max-width:27.5rem; height:60.6382vw; max-height:31.25rem; margin:auto; }

    .tab_menu_01 p { font-size:0.9375rem; }

    .story_brand img { width:20.625rem; height:2.0625rem; }

    /* tab_02 */  
    .tab_menu_02 dt {
        width:100%; height:auto; 
        text-align: center; text-decoration: underline; 
        margin-bottom:1.875rem; font-size:0.9375rem; }

   .tab_menu_02 dd { 
       width:50.7446vw; max-width:29.8125rem; height:auto; max-height:46.75rem; 
       margin:auto; }

   .tab_menu_02 img { width: 100%; height: 100%; }
    
    
        
    

} 