/* 공통 */
/* 
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;

background-position-y:20px;

li{background-position: -10px 10px;}
li:nth-child(1){background-position-y: 20px;}
li:nth-child(2){background-position-y: 30px;}
li:nth-child(3){background-position-y: 40px;}
li:nth-child(4){background-position-y: 50px;}
li:nth-child(5){background-position-y: 60px;}
li:nth-child(6){background-position-y: 70px;}
li:nth-child(7){background-position-y: 80px;}

*/


html,body { width:100%; height:auto; }
#wrap { width: 100%; height:auto; min-height:31.25rem; }
.headBox_wrap, 
.eventBox_wrap, 
.menuBox_wrap, 
.searchBox_wrap, 
.snsBox_wrap
 { width:100%; height:auto; background-color:var(--color-white);  }

/* headBox===================== */
#headBox { 
    width:100%; height:auto; 
    background-color:var(--color-white);}

#headBox > h1 {
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:95%; }

#unbBox a { 
    display:block; width: 100%; height: 100%;
    font-size:0.8125rem; text-align:center; 
    font-family:var(--font-nanum); }

#unbBox li:first-child { border:0; }

.gnbBox { z-index:1000;}

.gnbBox dt > a { font-weight:bold; font-family:var(--font-malgun);}

.gnbBox dd > a { font-family:var(--font-malgun); }

/* viewBox===================== */
#viewBox { 
    width:100%; height:auto; 
    background-color:var(--gray_02);}

.view_indicator { z-index: 700;}

.view_indicator > ul { width:100%; height:auto; }

.view_indicator a { border-radius:100%; background-color:var(--color-gray);}

.view_indicator li:last-child { margin-right:0; }


/* view_area */
.view_area { 
    position: relative; width:100%; height:100%; 
    background-color: var(--color-white); overflow: hidden;}

.view_image { 
    position: absolute; 
    width:500%; height:100%; background-image: url(../../img/main_bg.jpg); }
.view_image > li.action{ position: absolute; z-index: 100; }
.view_image > li { 
    float: left; width:20%; height:100%; font-size:2rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain; }

.view_image > .view_01 { background-image: url(../../img/main_01.png); } 
.view_image > .view_02 { background-image: url(../../img/main_02.png); }
.view_image > .view_03 { background-image: url(../../img/main_03.png); }
.view_image > .view_04 { background-image: url(../../img/main_04.png); }
.view_image > .view_05 { background-image: url(../../img/main_05.png); }

.view_indicator li.action a { background-color: var(--color-main);}



/* eventBox===================== */
#eventBox { 
    width:100%; height:auto; 
    background-color:var(--color-white);}

#eventBox > h2 { 
    text-align: center; text-transform: uppercase; 
    font-size: 2.5rem; font-family:var(--font-malgun); }

.event_area li.event_01 dt > a { background-image: url(../../img/event_Img_pc_01.jpg);}
.event_area li.event_02 dt > a { background-image: url(../../img/event_Img_pc_02.jpg);}
.event_area li.event_03 dt > a { background-image: url(../../img/event_Img_pc_03.jpg);}
.event_area li.event_04 dt > a { background-image: url(../../img/event_Img_pc_04.jpg);}
.event_area li.event_05 dt > a { background-image: url(../../img/event_Img_pc_05.jpg);}
.event_area li.event_06 dt > a { background-image: url(../../img/event_Img_pc_06.jpg);}    

.event_area dl { font-size:3rem; }

.event_area dt > a {  
    display:block; width: 100%; height: 100%; }

.event_area dt > a { 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
 }

.eventBtn button { 
    float: left; width:1.875rem; height:3rem;
    transform: translateY(-50%); font-size: 3rem; line-height:2.5625rem; color:#9d9d9d;}
.eventBtn button:first-child { float: right;  }
/* .eventBtn i {line-height:2.5625rem; color:#9d9d9d;} */
@supports (color:var(--color-gray)){
    .eventBtn button { line-height:2.5625rem;  color:var(--color-gray); }
    /* .eventBtn i {line-height:2.5625rem; color:var(--color-gray);} */
}


/* menuBox===================== */
#menuBox { 
    width:100%; height:auto; 
    background-color:#ededed; }

#menuBox > h2 { 
    text-align: center; font-size:2.5rem; 
    font-family:var(--font-malgun); text-transform: uppercase; }

.menu_area li { background-color:#fff;}
@supports (color:var(--color-gray)){
    .menu_area li { background-color: var(--color-white);}
}

.menu_area li div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%; }

.menu_area dt { 
    text-transform: uppercase;
    font-family:var(--font-malgun);
    color:var(--color-point); }

.menu_area dd:nth-of-type(2) { 
    border:0.0625rem solid #333;
    border-radius:1.25rem; text-align:center; }

.menu_area dd:nth-of-type(2) > a { 
    display:block; width: 100%; height: 100%; 
    text-align:center;
    border-radius:1.25rem; }
.menu_area dd:nth-of-type(2) > a > i,
.menu_area dd:nth-of-type(2) > a > svg { margin-left:0.625rem; color:#c54d2c; }

.menu_area dd:nth-of-type(2) a:hover i,
.menu_area dd:nth-of-type(2) a:focus i,
.menu_area dd:nth-of-type(2) a:hover svg,
.menu_area dd:nth-of-type(2) a:focus svg { color:#005629; }

@supports (color:var(--color-point)){
    .menu_area dd:nth-of-type(2) > a > i,
    .menu_area dd:nth-of-type(2) > a > svg{color:var(--color-point);}
    .menu_area dd:nth-of-type(2) a:hover i,
    .menu_area dd:nth-of-type(2) a:focus i,
    .menu_area dd:nth-of-type(2) a:hover svg,
    .menu_area dd:nth-of-type(2) a:focus svg { color:var(--color-main); }
}



/* 1. i사용되었던 부분들대신 부모요소에게 적용 */
/* 2. i에 직접 사용해야 하는 경우: i, svg 둘을 적용 */
/* 3. 조건부주석은 IE6~9까지만 적용 즉 10이후는 기본사용내용과 같다 -> @supports를 사용 */
/* 4. ie에서는 fontawesome이 적용이 올바르지 않으므로 script로 fontawesome내부 all.js를 불러온다. */


.menu_area li:nth-of-type(1) .menu_img { background-image: url(../../img/icecream.jpg); }
.menu_area li:nth-of-type(2) .menu_img { background-image: url(../../img/desert.jpg); }
.menu_area li:nth-of-type(3) .menu_img { background-image: url(../../img/beverage.png); }
.menu_area li:nth-of-type(4) .menu_img { background-image: url(../../img/icecreamCake.jpg); }


/* searchBox===================== */
#searchBox { 
    width:100%; height:auto; 
    background-image: url(../../img/searchBox_image__.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
    


#searchBox > p {
    font-family:var(--font-malgun); 
    text-align: center; color:var(--color-white); }

.store_search > a { display:block; width: 100%; height: 100%; }

.store_search span { 
    display:block;  width: 100%; height: 100%; 
    font-family:var(--font-malgun); text-align: center; }

.store_search i { margin-left:0.9375rem; }

/* snsBox */
#snsBox { 
    width:100%; height:auto; 
    background-color:var(--color-white);}

#snsBox > h2 { 
    font-family:var(--font-malgun);
    text-transform: uppercase; text-align: center;
}
.sns_image > li { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.sns_image > li:nth-child(1) { background-image: url(../../img/instagram_img_01.JPG);}
.sns_image > li:nth-child(2) { background-image: url(../../img/instagram_img_02.JPG);}
.sns_image > li:nth-child(3) { background-image: url(../../img/instagram_img_03.JPG);}
.sns_image > li:nth-child(4) { background-image: url(../../img/instagram_img_04.JPG);}
.sns_image > li:nth-child(5) {  background-image: url(../../img/instagram_img_05.JPG);}

/* top_move_btn */
.top_move_btn { 
    position: fixed; bottom:1.875rem;
    left:50%; transform: translateX(50rem);
    color:var(--color-point); }

/* footBox */
#footBox { 
    width:100%; height:auto;
    background-color:#ededed; }

.family_site .family{ float: left;}
.family_site .search{ float: right; box-sizing: border-box;}

#footBox .search { border:0.0625rem solid #333; }

.search > a { 
    display:block; width: 100%; height: 100%; 
    font-size: 0.9375rem; text-align: center;  }

    

