/* mobile 480px  / design 460px  */

@media screen and (max-width:480px) { 
    #eventBox { 
      position: relative;
      height:560px; padding:54px 10px 85px; box-sizing: border-box; }
    #eventBox > h2 { 
      text-align: center; text-transform: uppercase; 
      font-size: 40px; font-family:var(--font-malgun); margin-bottom:53px; }
    /* eventBtn */
    .eventBtn { 
      position: absolute; top:50%; left:50%; z-index: 900; transform: translateX(-50%);
      width:95%; min-width:250px; height:0; }
    .eventBtn button { 
      float: left; width:38px; height:46px;
      transform: translateY(-50%); background-color:var(--color-white); }
    .eventBtn button:first-child { float: right; }
    /* event_area */
    .event_area {
      position: relative; overflow: hidden;
      width:250px; height:303px; left:50%; 
      transform: translateX(-50%); background-color:var(--gray_02); }
    .event_area > ul { position: absolute; width:300%; height:100%; }
    .event_area li { float: left; width:33.333333%; height:100%; }
    .event_area dl { width: 100%; height:100%; }
    .event_area dt { width:100%; height:250px; margin-bottom:15px; }
    .event_area dt > a { display:block; width: 100%; height: 100%; background-color:var(--gray_04); }
    .event_area dd { width:100%; height:38px; } 
    .event_area dd > a { 
      display:block; width: 100%; height: auto;
      font-size:13px; font-family:var(--font-malgun); background-color:var(--gray_04); }
    .event_area dd p > span{ text-transform: uppercase; }
    .event_area dd p { font-size: 13px; font-family:var(--font-malgun); margin-bottom:5px; }
    .event_area dd p:nth-child(2) { font-size: 10px; color:var(--color-dark_gray); font-family:var(--font-nanum); }

   }
