/* Tablet 64rem  / design 58.75rem  */

@media screen and (min-width:30.0625rem) and (max-width:64rem) {
  #viewBox { 
    position: relative; height:31.25rem; }
  /* indicator */
  .view_indicator { 
    position: absolute; left:50%; transform: translateX(-50%); bottom:1.8125rem; 
    width:10.875rem; height:1.9375rem; 
    padding:0.5rem 1rem; box-sizing: border-box; }
  .view_indicator li { float: left; width:0.9375rem; height:0.9375rem; margin-right:1rem; }
}