/* laptop 1440px / design 1420px  */

@media screen and (min-width:1025px) {
  #viewBox { 
    position: relative; 
    min-width:1420px; height:900px; margin:auto;  }
  /* indicator */
  .view_indicator { 
    position: absolute; left:50%; transform: translateX(-50%); bottom:60px; 
    width:220px; height:40px; 
    padding:10px 20px; box-sizing: border-box; } 
  .view_indicator li { float: left; width:20px; height:20px; margin-right:20px; }
}
