/* laptop 1440px / design 1420px  */

@media screen and (min-width:1025px) {
  #viewBox { 
    position: relative; 
    min-width:1420px; height:900px; margin:auto;  }
  /* indicator */
  .view_indicator { 
    position: absolute; left:50%; transform: translateX(-50%); bottom:60px; z-index: 1000;
    width:220px; height:40px; background-color: var(--gray_01);
    padding:10px 20px; box-sizing: border-box; } 
  .view_indicator > ul { width: 100%;  height:auto; }
  .view_indicator li { float: left; width:20px; height:20px; margin-right:20px; }
  .view_indicator li:last-child { margin-right:0; }
  .view_indicator a { border-radius:100%; background-color:var(--gray_06);}
  /* view_area */
  .view_area { position: relative; width:100%; height:100%; background-color:var(--gray_05); overflow: hidden; }
  .view_image { position: absolute; z-index: 100; width:500%; height:100%; }  
  .view_image > li { float: left; width:20%; height:100%; font-size:2rem; }
  .view_image .view_01 { background-color:#3A8F20; }
  .view_image .view_02 { background-color:#B1FCA1; }
  .view_image .view_03 { background-color:#1D76E1; }
  .view_image .view_04 { background-color:#95DA18; }
  .view_image .view_05 { background-color:#2DA95D; }
}
