/* Tablet 1024px  / design 940px  */

@media screen and (min-width:481px) and (max-width:1024px) {
  #viewBox { 
    position: relative; max-width:1024px; height:500px; }
  /* indicator */
  .view_indicator { 
    position: absolute; left:50%; transform: translateX(-50%); bottom:29px; z-index:1000;
    width:174px; height:31px; background-color: var(--gray_01);
    padding:8px 16px; box-sizing: border-box; }
  .view_indicator > ul { width: 100%; height: auto; }
  .view_indicator li { float: left; width:15px; height:15px; margin-right:16px; }
  .view_indicator li:last-child { margin-right:0; }
  .view_indicator a { border-radius:100%; background-color: var(--gray_06);}
  /* view_area */
  .view_area { position: relative; width:100%; height:100%; background-color: var(--gray_05); overflow: hidden;  }
  .view_image { position: absolute; z-index:100; width:500%; height:100%; }
  .view_image > li { float: left; width:20%; height:100%; font-size:2rem; }
  .view_image .view_01 { background-color: #5952ED; } 
  .view_image .view_02 { background-color: #B1564A; } 
  .view_image .view_03 { background-color: #FD2472; } 
  .view_image .view_04 { background-color: #AAB63B; } 
  .view_image .view_05 { background-color: #8CD69D; } 

}