/* laptop 90rem / design 88.75rem  */

@media screen and (min-width:64.0625rem) {
  #viewBox { 
    position: relative; 
    min-width:88.75rem; height:56.25rem; margin:auto;  }
  /* indicator */
  .view_indicator { 
    position: absolute; left:50%; transform: translateX(-50%); bottom:3.75rem; 
    width:13.75rem; height:2.5rem; 
    padding:0.625rem 1.25rem; box-sizing: border-box; } 
  .view_indicator li { float: left; width:1.25rem; height:1.25rem; margin-right:1.25rem; }
}
