/* mobile 480px  / design 460px  */

@media screen and (max-width:480px) {
    #searchBox { position: relative; height:290px; padding-top:50px; box-sizing: border-box; }
    #searchBox > p {  width:250px; height:auto; margin:auto; margin-bottom:50px; font-size:17px;  }

    .store_search { 
        width:53.260869vw; max-width:210px; height:65px; 
        margin:auto; border-radius:40px; 
        margin-top:8.695652vw /*40px*/;
        background-color:#fff; }

    .store_search a { 
        padding:0 6.521739vw /*0 30px*/; box-sizing: border-box;
        line-height:65px; } 

    .store_search span { font-size:17px; }

    /* 모달창 */
    .search_area { 
        position: absolute; bottom:10px; left:50%; z-index: 1000;
        transform: translate(-50%);
        width:76.0869vw; max-width:350px; height:400px;
        border:2px solid #c54d2c;
        border-bottom-left-radius:20px; border-bottom-right-radius:20px; 
        background-color:#fff; }

    .search_area  > .search { 
        width: 100%; height:300px; 
        background-color:#fff; 
        border-bottom:1px solid #666; }

    .search_area h3 { 
        font-size:20px; text-align: center; 
        font-family:'Malgun Gothic'; padding:30px 0 5px; box-sizing: border-box;}

    .search > p:nth-of-type(1) { 
        font-size:12px; text-align: center; 
        margin-bottom:2.1739vw /*10px*/;
        color:#005629; }

    .close { position: absolute; top:5px; right:10px;}

    .close i { font-size:24px; }

    .store_img { 
        position: absolute; left:20px;
        width:43.4782vw; max-width:200px; height:140px; 
        background-image: url(../../../img/natuur_img.JPG);
        background-position: 50% 50%;
        background-repeat:no-repeat;
        background-size: contain; }

    .search > span:nth-of-type(1) { 
        position: absolute; right:20px; top:210px; font-size:12px; }

    .search > span:nth-of-type(2) { 
        position: absolute; right:20px; top:230px; font-size:12px; }

    .store_info { 
        position: absolute; right:30px; top:260px; font-size:12px; }

    .store_info > a { 
        display:block; width: 100%; height: 100%;
        text-align: center; border:1px solid #005629; 
        color:#c54d2c;
        padding:5px; border-radius:20px; }

    #searchBox form { position: absolute; bottom:30px; width:100%; height:auto; }

    #searchBox fieldset { width:auto; min-width:180px; height: 100%; }

    .search_info p { 
        font-family:'Malgun Gothic'; 
        text-align: center; margin-bottom: 10px;
        font-size:13px; }

    .input_wrap { width:72vw; max-width: 210px; height:28px; margin:auto; }
    
    .form_group { float: left; }

    .form_group > input { 
        width:165px; height:28px; 
        border:1px solid #666;  }

    .search_btn { 
        float: right; width:36px; height:28px;
        box-sizing: border-box;
        border:1px solid #666; }

    #searchBox form button { 
        display:block; width: 100%; height: 100%; 
        font-size:11px;
        padding:4px; box-sizing: border-box; }

    




}