/* Tablet 1024px  / design 940px  */

@media screen and (min-width:481px) and (max-width:1024px) {
    #searchBox { 
        position: relative;
        height:37.234042vw; max-height:350px; 
        padding-top:5.319148vw /*50px*/; box-sizing: border-box; }
    #searchBox > p { font-size:18px; text-shadow:2px 2px 3px rgba(0, 0, 0, 0.7);  }

    .store_search { 
        width:28.723404vw; max-width:270px; height:79px; margin:auto; 
        border-radius:40px; margin-top: 6.382978vw/*60px*/; 
        padding:0 2.659574vw /*0 25px*/; box-sizing: border-box; 
        background-color:#fff; }
        
    .store_search > a { line-height:79px; }

    .store_search span { font-size:18px; } 

    .store_search svg {margin-left:10px;}

    /* 모달창 */
    .search_area { 
        position: absolute; bottom:10px; left:50%; z-index: 1000;
        transform: translate(-50%);
        width:70vw; max-width:450px; height:465px; 
        border:2px solid #c54d2c;
        border-bottom-left-radius:30px; border-bottom-right-radius:30px; 
        background-color: #fff; }

    .search_area  > .search { 
        width: 100%; height:300px; 
        background-color: #fff; 
        border-bottom:1px solid #666; }

    .search_area h3 { 
        font-size:25px; text-align: center; 
        font-family:'Malgun Gothic'; padding:30px 0 10px; box-sizing: border-box;}

    .search > p:nth-of-type(1) { 
        font-size:13px; text-align: center; 
        margin-bottom:2.1739vw /*10px*/;
        color:#005629; }

    .close { position: absolute; top:5px; right:10px;}

    .close svg { font-size:32px; }

    .store_img { 
        position: absolute; left:20px;
        width:35vw; max-width:250px; height:200px; 
        background-image: url(../../../img/natuur_img.JPG);
        background-repeat:no-repeat;
        background-size: contain; }

    .search > span:nth-of-type(1) { 
        position: absolute; right:20px; top:210px; font-size:13px; }

    .search > span:nth-of-type(2) { 
        position: absolute; right:20px; top:230px; font-size:13px; }

    .store_info { 
        position: absolute; right:30px; top:260px; font-size:13px; }

    .store_info > a { 
        display:block; width: 100%; height: 100%;
        text-align: center; border:1px solid #005629; 
        color:#c54d2c;
        padding:5px; border-radius:30px; }

    #searchBox form { position: absolute; bottom:60px; width:100%; height:auto; }

    #searchBox fieldset { width:auto; min-width:180px; height: 100%; }

    .search_info p { 
        font-family:'Malgun Gothic'; 
        text-align: center; margin-bottom: 20px;
        font-size:16px; }

    .input_wrap { width:65vw; max-width:310px; height:28px; margin:auto; }
    
    .form_group { float: left; }

    .form_group > input { 
        width:65vw; max-width:245px; height:30px; 
        border:1px solid #666;  }

    .search_btn { 
        float: right; width:50px; height:30px; 
        box-sizing: border-box;
        border:1px solid #666; }

    #searchBox form button { 
        display:block; width: 100%; height: 100%; 
        padding:6px; box-sizing: border-box; }

    

}