/* Tablet 1024px  / design 940px  */

@media screen and (min-width:481px) and (max-width:1024px) {
    #menuBox { height:900px; padding:8.404255vw 10.851063vw 10.638297vw /*79px 102px 100px*/; box-sizing: border-box; } 
    #menuBox > h2 { margin-bottom:87px; }
    
    .menu_area { width:100%; max-width:940px; height:auto; }
    .menu_area > ul { width: 100%; height:auto; max-height:550px; }
    .menu_area li { 
        position: relative;
        float: left; width:50%; max-width:380px; height:223px; 
        margin-bottom: 96px; padding:1.382978vw 1.595744vw 1.702127vw /*13px 15px 16px */; box-sizing: border-box;
        }
    .menu_area li:nth-child(2n) { margin-right:0; float: right; }
    .menu_area li:nth-child(3) { margin-bottom:0; }
    .menu_area li:nth-child(4) { margin-bottom:0; }
    .menu_area dl { position: absolute; width:35vw; max-width:300px; height:70px; }
    .menu_area dt { font-size:17px;  margin-bottom:10px; }
    .menu_area dd { font-size:14px; font-family:'NanumGothic'; margin-bottom:15px; }
    .menu_area dd:nth-of-type(2) { width:90px; height:30px; line-height:30px; }
    
    /* image */
    .menu_img { 
        position: absolute; right:5px; bottom:10px;
        width:17.553191vw; max-width:165px; height:21.063829vw; max-height:198px; }

}