/* Tablet 64rem  / design 58.75rem  */

@media screen and (min-width:30.0625rem) and (max-width:64rem) {

  .popup { 
    position: absolute; 
    z-index:1500; top:9.375rem; left:50%; transform: translateX(-50%);
    width:auto; width:20.625rem; height:15rem;
    padding:0.9375rem; box-sizing: border-box;
    border:0.1875rem solid var(--color-main); 
    background-color:var(--color-white); }  
      
  .popup p { font-size:0.875rem; }
  .popup p:nth-child(1) { line-height:1.25rem; margin-bottom:0.9375rem; }
  
  .popup .strong { font-weight:600; font-family:var(--font-malgun); color:var(--color-main)}
  
  .popup .popup_close { 
      position: absolute; left:50%; bottom:0.9375rem; transform: translateX(-50%); 
      width:2.8125rem; height:1.875rem; 
      border:0.0625rem solid var(--color-black); background-color: var(--color-white); }
  
  .popup_close button { width: 100%; height: 100%; }
  .popup_close span { line-height:1.875rem; }
  
  #headBox { 
    position: relative;
    height:13.125rem; padding:1.25rem 4.4680vw 0; box-sizing: border-box; }
  #unbBox {
    position: absolute; top:1.25rem; left:1.875rem;
    width:16.3125rem; height:1.25rem; }

  #headBox > h1 { 
    float: left; 
    border-radius:6.25rem; margin-top:4.375rem;
    width:11.875rem; height:6.25rem; 
    background-image: url(../../../img/logo.png);
   }
  
  /* #unbBox영역 */
  #unbBox > ul { width:100%; height:auto; }
  #unbBox li { float: left; width:32%; height:auto; border-left:0.0625rem solid #ddd; }
  #unbBox a { line-height:1.25rem; }
  
  /* gnbBox영역 */
   #gnbBox_wrap { 
    float: right; margin-top:0;
    width:3.125rem; height:3.125rem; }
  #gnbBox_wrap > .gnb_open_btn { 
    width: 100%; height: 100%; 
    font-size:2rem; color:var(--color-black); }
  .gnb_open_btn > button { display:block; width: 100%; height: 100%; }
  .gnb_open_btn i { text-align:center; font-size:3rem; color:var(--color-main); }
  
  /* gnbBox를 클릭했을 때 켜지는 메뉴 */
  .gnbBox {
    position: fixed; top:0; right:-100%; z-index:900;
    box-sizing: border-box; width:80%; height:auto; 
    background-color: var(--color-point);
    transition:all 500ms linear; }
   .gnbBox .gnbBox_menu { width: 100%; height:auto; }
   .gnbBox.action { right:0;}
   .gnb_close_btn { 
     position: absolute; top:0; left:-3.125rem; z-index:900;
     width:3.125rem; height:3.125rem; }
   .gnb_close_btn > button { display:block; width: 100%; height: 100%; }
   .gnb_close_btn i, 
   .gnb_close_btn svg 
   { text-align:center; font-size:2rem; color:var(--color-black) }
  
   .gnbBox li { 
     float: left; width: 100%; height:auto; }
   .gnbBox dl { 
     width: 100%; height:auto; background-color: var(--color-white); }
   .gnbBox dt { 
     width: 100%; height:3.125rem; 
     border-top:0.0625rem solid var(--color-gray);
     border-bottom:0.0625rem solid var(--color-gray);
     padding-right:31.914893vw /*18.75rem*/;
     font-size:0.9375rem; font-family:var(--font-nanum); line-height:3.125rem;
     text-indent:5rem; }
   .gnbBox dt.action i { color:var(--color-main);}
   .gnbBox dd { 
     display: none;
     width: 100%; height:auto; 
     padding:0.3125rem 0 0.3125rem;
     font-size:0.75rem; font-family:var(--font-malgun); line-height:1.5625rem;
     text-indent:5rem; }
  
   .gnbBox dd > a { 
     display:block;
     width:100%; height:1.5625rem; line-height:1.5625rem; }
  
   .gnbBox dt i { 
     float: right; line-height:3.125rem; margin-right:6.25rem; font-size:1.5rem; }
  
   .gnbBox dt > a { display:block; width: 100%; height: 100%; }
  
     /* 
      **form 영역**
      1.form내부에 들어가는 input,label..inline-block요소(사이즈를 가질 수 있지만 옆으로 늘어나는요소)
      2.form내부에 p,hn,dl,ol,ul...모두 들어갈 수 있다.
      */
      .gnbBox form { width:100%; height:auto; min-height:2.5rem; }
  
      .gnbBox fieldset { 
        height:auto; line-height:2.5rem; 
        padding:2.173913vw; box-sizing: border-box;
        text-align: center;
         }
   
      .gnbBox fieldset > input { width:80%; max-width:15.625rem; height:1.875rem; border-radius:0.3125rem; }
   
      .gnbBox fieldset button { 
        width:11.956521vw; max-width:3.75rem; height:1.875rem; 
        border-radius:0.3125rem; border:0.0625rem solid var(--color-white);
        color:var(--color-white); font-family:var(--font-nanum);
        font-size:0.75rem; box-sizing: border-box;
        }
   
  
  
  }