/* laptop 90rem / design 88.75rem  */

@media screen and (min-width:64.0625rem) {


  #headBox { 
    position: relative; z-index: 1000; 
    width:100%; max-width:90rem; height:31.25rem; margin:auto;
    padding:2.5rem 0.625rem; box-sizing: border-box; }
  #headBox #unbBox { 
    position: absolute; top:2.5rem; right:0.625rem;
    width:22.1875rem; height:1.5625rem;
    margin-bottom:1.25rem; }
  #headBox > h1 { 
    position: absolute; top:4.375rem; left:50%; z-index: 100;
    width:18.75rem; height:9.375rem; margin-bottom:4.375rem; 
    transform: translateX(-50%); border-radius:6.25rem;
    background-image: url(../../../img/logo.png); }
  #headBox a { display:block; width: 100%; height: 100%; }

  .popup { 
    position: absolute;; top:9.375rem; left:50%; z-index:1100; 
    transform: translateX(-50%); width:25rem; height:16.25rem;
    padding:0.9375rem; box-sizing: border-box; 
    border:0.25rem solid var(--color-main);
    background-color: var(--color-white); } 
    
  .popup p { font-style:1rem; }
  .popup p:nth-child(1) { line-height:1.25rem; margin-bottom:0.9375rem; }
  .popup .strong { font-weight:600; font-family: var(--font-malgun); color:var(--color-main); }
  
  .popup .popup_close { 
      position: absolute; left:50%; bottom: 0.9375rem; transform: translateX(-50%); 
      width:3.125rem; height:2.5rem; 
      border:0.0625rem solid var(--color-black); background-color: var(--color-white); }
  
  .popup_close button { width: 100%; height: 100%; }
  .popup_close span { line-height:2.5rem; font-size: 1rem; }

  /*unbBox영역 */
  #unbBox > ul { width:100%; height:auto; }
  #unbBox li { float: left; width:32%; height:auto; border-left:0.0625rem solid #ddd;   }
  #unbBox a { line-height:1.5625rem; }
  .gnbBox li { float: left; width:16.666666%; height:auto; }
  
  /*gnbBox영역 */
  #gnbBox_wrap { 
    position: absolute; left:50%; transform: translateX(-50%); bottom:10.3125rem; 
    width:98%; max-width:67.1875rem; height:3.75rem; border-top:0.0625rem solid var(--color-black);}
  .gnbBox { width:100%; height:auto; background-color: var(--color-white); }
  .gnbBox_menu { float: left; width:85%; height: 100%; }
  .gnbBox_menu > li { float: left; width:8.75rem; height:100%; }
  #gnbBox_wrap::before { 
    display:block; content:" "; 
    position: absolute; left: 0; bottom: 0; 
    width: 100%; height: 0; border-top:0.0625rem solid var(--color-black); }

  .gnbBox > li { float: left; width:16.666666%; height:auto; }
  .gnbBox dl { width:100%; height:auto; }
  .gnbBox dt { position: relative; width:100%; height:3.75rem; }
  .gnbBox dt > a { font-size:1.25rem; text-align: center; line-height:3.75rem; }
  .gnbBox dd { 
    width:100%; height:auto; color:var(--color-black); 
    padding:0.9375rem 0; text-indent: 0.625rem; font-size:1rem; }
  #headBox .gnbBox dd > a { 
    display:block;
    padding:0.7rem 0; margin-bottom: 0.3rem; box-sizing: border-box;  height:auto; }
  /* gnbBox:hover */
  .gnbBox a:hover, 
  .gnbBox a:focus { color:var(--color-main);}
/* ===================================================== */
  /*gnb_etc영역*/
  #headBox .gnb_etc { float: right; width:6.25rem; height:auto; margin-top:0.625rem; }
  .gnb_etc > li { float: left; width: 2.5rem; height:2.5rem; margin-right:0.625rem; }
  .gnb_etc > li:nth-child(1) {
     background-image: url(../../../img/ico_facebook.png);
     background-repeat: no-repeat;
     background-position: 50% 50%;
     background-size: contain;
    }
  .gnb_etc > li:nth-child(2) { 
    background-image: url(../../../img/ico_instagram.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin-right:0; }

}