/* 공통 */
html,body { width:100%; height:auto; }
#wrap { width: 100%; height:auto; min-height:500px; }
.headBox_wrap, 
.eventBox_wrap, 
.menuBox_wrap, 
.searchBox_wrap, 
.snsBox_wrap { 
    width:100%; height:auto; background-color:#fff; }

/* headBox===================== */
#headBox { background-color:#fff;}

#headBox > h1 {
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:95%; }

#unbBox a { 
    display:block; width: 100%; height: 100%;
    font-size:13px; text-align:center; 
    font-family:'NanumGothic'; }

#unbBox li:first-child { border:0; }

.gnbBox { z-index:1000;}

.gnbBox dt > a { font-weight:bold; font-family:'Malgun Gothic';}

.gnbBox dd > a { font-family:'Malgun Gothic'; }


/* flagship_menu */
.inner_bg_img {
    width:100%;  
    background-repeat: no-repeat;
    background-size: 100%; }

.breadcrumb > li { float: left; margin-right:10px;}
.breadcrumb > li:nth-child(2) { margin-right:0px;}
.breadcrumb > li:nth-child(2):before { content:">"; width:10px; height:100%; margin-right:10px; }

/* footBox */
#footBox { 
    width:100%; height:auto;
    background-color:#ededed; }

.family_site .family{ float: left;}
.family_site .search{ float: right; box-sizing: border-box;}

.search { border:1px solid #333; }

.search > a { 
    display:block; width: 100%; height: 100%; 
    font-size: 15px; text-align: center;  }

  
 /* 영상 hover */
.adver_contents li:hover .play_title { background-color:#c54d2c; color:#fff; }