/* Tablet 1024px  / design 940px  */

@media screen and (min-width:481px) and (max-width:1024px) {
    #footBox { 
        position: relative;
        height:240px; 
        padding:3.191489vw 10.851063vw 11.914893vw /*30px 102px 112px*/; box-sizing: border-box; }
    .footer_menu { 
        float:left;
        width:57.446808vw; max-width:540px; height:100px; background-color: var(--gray_03); }
    .footer_menu > li { font-size:13px; font-family:var(--font-malgun); margin-bottom:8px; }

    .family_site { 
        float: right; 
        width:19.148936vw; max-width:180px; height:40px; background-color: var(--gray_03); }

    #footBox span { 
        position: absolute; font-size:13px; font-family:var(--font-malgun);
    }
    #footBox span:nth-of-type(1) { left:10.851063vw; bottom:85px;  }
    #footBox span:nth-of-type(2) { left:10.851063vw; bottom:50px; text-transform: uppercase; }
}