/* Tablet 64rem  / design 58.75rem  */

@media screen and (min-width:30.0625rem) and (max-width:64rem) {
    #eventBox { 
      position: relative; height:40.625rem; padding:3.6875rem 0 4.4375rem; box-sizing:border-box; }
    #eventBox > h2 { margin-bottom:3.6875rem; }
  
    /* eventBtn */
    .eventBtn { 
      position: absolute; top:50%; left:50%; z-index: 900; transform: translateX(-50%);
      width:98%; height:0; max-width:37.5rem; }
    .eventBtn i { font-size:3rem; }
    
    
    /* event_area */  
    .event_area { 
      position: relative; left:50%; transform: translateX(-50%); 
      width:21.25rem; height:25.625rem; overflow: hidden; }
    .event_area > ul { position: absolute; width:600%; height:100%; } 
    .event_area li { float: left; width:21.25rem; height:100%; }
    .event_area dt { width:100%; height:21.25rem; margin-bottom:1.25rem; }
    .event_area dd { width: 100%; height:3.125rem; }
    .event_area dd > a { 
      display:block; width: 100%; height:auto; 
      font-size:0.8125rem; font-family:var(--font-malgun); }
    .event_area dd p { font-size: 1.0625rem; font-family:var(--font-malgun); margin-bottom:0.3125rem; }
    .event_area dd p:nth-child(2) { font-size: 0.875rem; color:var(--color-dark_gray); font-family:var(--font-nanum); }
  }