/* sub_introduceBox.laptop.css */

@media screen and (min-width:1025px){
    html,body { width:auto; min-width:1420px; }
    #wrap {width:auto; min-width:1420px; margin:auto; }

    #introduceBox { 
        position: relative; margin:auto;
        width:auto; max-width:1420px; height:auto;
        padding:0 10px 100px; box-sizing: border-box; }

    #introduceBox h3 { 
        font-size:30px; text-align: center; font-family:'Malgun Gothic';
        margin:50px 0 10px; }  

    #introduceBox .title { 
        font-size: 16px; text-align: center; font-family:'Malgun Gothic';
        margin-bottom:50px; color:#005629; }

    .inner_bg_img { height: 123px; background: url(../../../img/bg_brand_pc_img.jpg) no-repeat center top; }


    .breadcrumb { 
        position: absolute; top:0; right:50px; font-size:13px;
        width:auto; height:auto; }

    .title_list { 
        overflow: hidden;
        width:100%; max-width:587px; height:40px; margin:auto; 
        margin-bottom: 40px;
        border:1px solid #666; border-radius:20px; }

    .title_list > li { 
        float: left; 
        width:50%; height:100%; 
        text-align: center; line-height:40px;
        font-size:15px; font-family:'Malgun Gothic';}

    /* tab공통 영역 */
    .tab_menu_01,  
    .tab_menu_02 { 
        width:54.9295vw; max-width:780px; height:auto; 
        margin:auto; margin-top:80px; margin-bottom:50px; }
        
    .tab_menu_01 > dl, 
    .tab_menu_02 > dl { 
        width: 100%; height:auto; margin:auto; }

    /* tab_01 */
    .main_bg { width:500px; height:570px; margin:auto; opacity: 0; transform: translateY(-160px);}

    .tab_menu_01 p { font-size:15px; opacity:0; }

    .story_brand img { width:330px; height:100%; opacity:0;}

    /* tab_02 */
    .tab_menu_02 dt {
        width:100%; height:auto; 
        text-align: center; text-decoration: underline; 
        margin-bottom:30px; font-size:15px; }

   .tab_menu_02 dd { 
       width:47.9577vw; max-width:681px; height:auto; max-height:1088px; 
       margin:auto; }

   .tab_menu_02 img { width: 100%; height: 100%; }

    /* animation */
    @keyframes fadeIn{
       0% {opacity:0;}
       100% {opacity:1;}
      }
   
      .animate{
          animation:fadeIn 700ms forwards linear;
          transition:1000ms ease-out;
      }
      .story_animate {
         animation:fadeIn 700ms forwards linear;
         transition:700ms ease-out;
      }
   
      .story_brand.animate { 
       transform: translate(0);
      }
      .story_brand p.animate { 
       transform: translate(0);
      }
      .main_bg.animate {
       transform: translate(0);
      }


}