/* laptop 90rem / design 88.75rem  */

@media screen and (min-width:64.0625rem) {
    #snsBox { 
        width:88.75rem; height:37.5rem; 
        margin:auto; padding:5.625rem 0 7.042253vw /*5.625rem 0 6.25rem*/; box-sizing: border-box; }
    #snsBox > h2 { font-size:2.5rem; margin-bottom:5rem; }

    .sns_image { 
        width:98%; height:14.375rem; margin:auto; }
    .sns_image > li { 
        float: left; 
        width:18%; height:14.375rem;
        margin-right:2.125rem; background-color:var(--gray_01);}
    .sns_image > li:last-child { margin-right:0; }

    .top_move_btn { font-size: 4rem; }

}