/* Tablet 64rem  / design 58.75rem  */

@media screen and (min-width:30.0625rem) and (max-width:64rem) {
  #snsBox { 
      height:42.553191vw; min-height:18.75rem; max-height:25rem; 
      padding:6.382978vw 10.851063vw 0/*3.75rem 6.375rem 0*/; box-sizing: border-box; }
  #snsBox > h2 { font-size:1.875rem; margin-bottom:2.5rem;}

  .sns_image { 
      width:96%; height:22vw; margin:auto; margin-top:3.125rem; }
  .sns_image > li { 
      float: left;
      width:22%; height:17vw;  
      margin-right:2.5vw /*1.875rem*/; background-color: var(--gray_02); }
  .sns_image > li:nth-child(4) { margin-right:0; }
  .sns_image > li:nth-child(5) { display:none; }
  .sns_image > li:last-child { display:none; }

  .top_move_btn { font-size: 3rem; }

}