/* mobile 480px  / design 460px  */

@media screen and (max-width:480px) {
    #footBox { 
        position: relative;
        height:240px; padding:15px 10px 50px; box-sizing: border-box; } 
    .footer_menu { 
        float: left; width:52vw; max-width:250px; height:auto; 
        margin-bottom:30px; 
        font-size:13px; font-family:'Malgun Gothic'; }
    .footer_menu > li { width:auto; height:auto; }
    .footer_menu a { display:block; width: 100%; height: 100%; margin-bottom:8px; font-size:11px; }
    .family_site { 
        float: right;
        position: absolute; right:10px;
        width:170px; height:25px; }

    #footBox span { 
        position: absolute; font-size:11px; font-family:'Malgun Gothic'; 
        padding-left:10px; box-sizing: border-box; }
    #footBox span:nth-of-type(1) { left:0; bottom:80px; }    
    #footBox span:nth-of-type(2) { left:0; bottom:50px; text-transform: uppercase; }


    .family select { width:115px; height:25px; }
    .search{ width:48px; height:25px; }
    .search > a { font-size: 12px; line-height:25px;}

}