/* laptop 1440px / design 1420px  */

@media screen and (min-width:1025px) {
    #eventBox { 
      position: relative; 
      width:1420px; height:800px; margin:auto;
      padding:100px 10px 150px; box-sizing: border-box; }
    #eventBox > h2 { margin-bottom:90px; }
  
    /* eventBtn */
    .eventBtn { 
      position: absolute; top:50%; left:50%; transform: translateX(-50%);
      width:98%; max-width:1420px; height:0; }
    .eventBtn i { font-size:3rem; }
  
    /* event_area */  
    .event_area { 
      overflow: hidden;
      position: relative; left:50%; transform: translateX(-50%); 
      width:1100px; height:410px; }
    .event_area > ul { width:600%; height:auto; } 
    .event_area li { float: left; width:340px; height:410px; }
    .event_area li:last-child { margin-right:0; }
    .event_area dt { width:100%; height:340px; margin-bottom:20px; } 
    .event_area dd { width:100%; height:50px; }
    .event_area dd > a { 
      display:block; width:100%; height:auto; }
    .event_area dd p > span{ text-transform: uppercase; }
    .event_area dd p { text-indent:14px; font-size: 17px; font-family:var(--font-malgun); margin-bottom:5px; }
    .event_area dd p:nth-child(2) { text-indent:14px; font-size: 14px; color:var(--color-dark_gray); font-family:var(--font-nanum); }
  
  
  }