/* flagship_menuBox_mobile.css */

@media screen and (max-width:30rem){
  #menu_content { 
    position: relative;
    width:auto; max-width:28.75rem; height:auto; margin:auto;
    padding:0.625rem; padding-bottom: 3.75rem; box-sizing: border-box;
  }
  
  #menu_content > h3 { 
    margin-top:3.75rem; font-size:1.5625rem ; 
    font-family:var(--font-malgun); text-align: center; }

  #menu_content .title { 
    font-size:0.8125rem; margin-top:0.5rem; 
    margin-bottom:0.625rem; text-align: center; color:var(--color-main); }

  .inner_bg_img { height:5.0625rem; background-image: url(../../../img/bg_brand_mobile_img.jpg);  }

  .breadcrumb {
      position: absolute; top:0.625rem; right:0.625rem; margin-bottom:1.875rem;
      width:9.375rem; height:auto; 
      font-size:0.8125rem; font-family:var(--font-malgun); } 

  .menu_list { 
    width:17.5rem; height:5rem; margin:auto;
    margin-top:3.125rem; margin-bottom:1.875rem; }

  .menu_list > li { 
    overflow: hidden;
    float: left; width:18%; max-width:4.1875rem; height:100%;/*4.6875rem*/ 
    margin-right:0.4375rem; font-family:var(--font-malgun);
    text-align: center; font-size:0.625rem; }

  .menu_list > li:last-child { margin-right:0; }

  .menu_list a { display:block; width: 100%; height:100%; text-align: center; }

  .menu_list > li span { 
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain; }

  .menu_list > li span { 
    display:block;
    width:2.5rem; height:2.5rem; 
    margin:auto; margin-bottom:0.625rem;  
    box-sizing: border-box; }

  .list_wrap { width: 100%; height:auto; }

   /* 게시판영역 */
  .menu_area { 
    overflow: hidden; 
    width:17.5rem; height:auto; margin:auto; }

  .menu_area > li { 
   position: relative;
   float: left; width:8.125rem; height:11.25rem; margin-right:1.25rem; }


  .menu_area > li:nth-child(2n) { margin-right:0; }

  .menu_area a { display:block; width: 100%; height: 100%; padding-top:0.9375rem; box-sizing: border-box;}

  .menu_area a > .product {width: 6.875rem; height:6.875rem; margin:auto; margin-bottom: 1.25rem;} 

  .menu_area a img { width:100%; height:auto;  }

  .menu_area p { 
   width: 100%; height:auto; text-align: center;
   font-family:var(--font-malgun); font-size:0.8125rem; }




}