/* 공통 */
html,body { width:100%; height:auto; }
#wrap { width: 100%; height:auto; min-height:31.25rem; }
.headBox_wrap, 
.eventBox_wrap, 
.menuBox_wrap, 
.searchBox_wrap, 
.snsBox_wrap { 
    width:100%; height:auto; background-color:var(--color-white); }

/* headBox===================== */
#headBox { background-color:var(--color-white);}

#headBox > h1 {
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:95%; }

#unbBox a { 
    display:block; width: 100%; height: 100%;
    font-size:0.8125rem; text-align:center; 
    font-family:var(--font-nanum); }

#unbBox li:first-child { border:0; }

.gnbBox { z-index:1000;}

.gnbBox dt > a { font-weight:bold; font-family:var(--font-malgun);}

.gnbBox dd > a { font-family:var(--font-malgun); }


/* flagship_menu */
.inner_bg_img {
    width:100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
 }

.breadcrumb > li { float: left; margin-right:0.625rem;}
.breadcrumb > li:nth-child(2) { margin-right:0rem;}
.breadcrumb > li:nth-child(2):before { content:">"; width:0.625rem; height:100%; margin-right:0.625rem; }

.menu_list > li:nth-child(1) span { background-image: url(../../../img/menu_list_icon/ice-cream.png);}
.menu_list > li:nth-child(2) span { background-image: url(../../../img/menu_list_icon/desert.png);}
.menu_list > li:nth-child(3) span { background-image: url(../../../img/menu_list_icon/drink.png);}
.menu_list > li:nth-child(4) span { background-image: url(../../../img/menu_list_icon/coffee.png);}
.menu_list > li:nth-child(5) span { background-image: url(../../../img/menu_list_icon/cake.png);}

.menu_list li:nth-child(1):hover span { background-image: url(../../../img/menu_list_icon/ice-cream_on.png); }
.menu_list li:nth-child(1).on span { background-image: url(../../../img/menu_list_icon/ice-cream_on.png); }
.menu_list li:nth-child(2):hover span { background-image: url(../../../img/menu_list_icon/desert_on.png); }
.menu_list li:nth-child(2).on span { background-image: url(../../../img/menu_list_icon/desert_on.png); }
.menu_list li:nth-child(3):hover span { background-image: url(../../../img/menu_list_icon/drink_on.png); }
.menu_list li:nth-child(3).on span { background-image: url(../../../img/menu_list_icon/drink_on.png); }
.menu_list li:nth-child(4):hover span { background-image: url(../../../img/menu_list_icon/coffee_on.png); }
.menu_list li:nth-child(4).on span { background-image: url(../../../img/menu_list_icon/coffee_on.png); }
.menu_list li:nth-child(5):hover span { background-image: url(../../../img/menu_list_icon/cake_on.png); }
.menu_list li:nth-child(5).on span { background-image: url(../../../img/menu_list_icon/cake_on.png); }


/* footBox */
#footBox { 
    width:100%; height:auto;
    background-color:#ededed; }

.family_site .family{ float: left;}
.family_site .search{ float: right; box-sizing: border-box;}

.search { border:0.0625rem solid #333; }

.search > a { 
    display:block; width: 100%; height: 100%; 
    font-size: 0.9375rem; text-align: center;  }
    
  
